
.hide {
  display: none;
}

.show {
  display: block;
}

body {
  background-color: black;
}

.big-container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.container {


  background-image: url('../assets/bg.gif');
  background-size: 100%;
  width: 100vh;
  height: 100vh;
  justify-self: center;
}

.instrument {
  position: absolute;
}
