
.hide {
  display: none;
}

.show {
  display: block;
}

.big-container {
  display: flex;

}

.container {


  background-image: url('../assets/bg.gif');
  background-size: 100%;
  width: 100vh;
  height: 100vh;
}

.instrument {
  position: absolute;
}
